<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.classchat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@drawable/app_logo"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.Activity_SignSituation"></activity>
        <activity android:name=".Activity.Activity_Add" />
        <activity android:name=".Activity.Activity_Select" />
        <activity android:name=".Activity.Activity_Register" />
        <activity android:name=".Activity.Activity_Modify" />
        <activity android:name=".Activity.Activity_Password" />
        <activity android:name=".Activity.Activity_Enter" />
        <activity android:name=".Activity.Activity_Flash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Activity_AccountInfo" />
        <activity android:name=".Activity.Activity_SearchAddCourse" />
        <activity android:name=".Activity.Activity_AddSearchCourse" />
        <activity android:name=".Activity.Activity_AddCourse" />
        <activity android:name=".Activity.Activity_TransactionHistory" />
        <activity android:name=".Activity.Activity_MyCourse" />
        <activity android:name=".Activity.Activity_AboutUs" />
        <activity android:name=".Activity.Activity_HelpAndFeedback" />
        <activity android:name=".Activity.Activity_InformationReminder" />
        <activity android:name=".Activity.Activity_IdAuthentation" />
        <activity android:name=".Activity.Activity_ChangeAccountInformation" />
        <activity android:name=".Activity.Activity_AddCommodity" />
        <activity android:name=".Activity.Activity_CommodityDetailInformation" />
        <activity android:name=".Activity.Activity_AddNoteToCourse" />
        <activity android:name=".Activity.Activity_CourseNote" />
        <activity android:name=".Activity.Activity_CourseData" />
        <activity android:name=".Activity.Activity_ClassGroupChat" />
        <activity android:name=".Activity.Activity_Market_GoodsDetail" />
        <activity android:name=".Activity.Activity_Market_ShoppingCart" />
        <activity android:name=".Activity.Activity_AutoPullCourseFromWeb" />
        <activity android:name=".Activity.Activity_Market_MyGoods" />
        <activity android:name=".Activity.Activity_Option" />
        <activity android:name=".Activity.Activity_Market_AddCommodity" />
        <activity
            android:name=".Activity.Activity_Conversation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.example.classchat"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" />

        <meta-data
            android:name="classchat"
            android:value="84aabe90489f136d6b2aa104263862aa" />

        <meta-data
            android:name="com.example.classchat.API_KEY"
            android:value="efIOrRcslG8bYttDU2sVnvOcANS84TaQ" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.classchat.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>
    </application>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK.STATE" /> <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>